<!DOCTYPE html>
<html lang="js">

<%- include('../components/common/_head', { pageTitle: 'プライバシーポリシー', description: "ハンドメイド猫グッズのお店 l'atelier Queue のプライバシーポリシーページです。" }) %>


<body class="privacy">

<%- include('../components/common/_header') %>

<%- include('../components/common/_gnav', { src: '../../' }) %>


<ol class="breadcrumb l-container">
  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ホーム</a></li>

  <li class="breadcrumb__item">プライバシーポリシー</li>
</ol>


<main class="main">
  <div class="l-md-container">

    <h1 class="main__heading lv1Heading">
      <span class="lv1Heading__ja">プライバシーポリシー</span>
    </h1>

    <p class="main__lead --privacy">○○○○○（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>


    <div class="post__body">
      <h2>第1条（個人情報）</h2>

      <p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>


      <h2>第2条（個人情報の収集方法）</h2>

      <p>「当社は，ユーザーが利用登録をする際に氏名，生年月日，住所，電話番号，メールアドレス，銀行口座番号，クレジットカード番号，運転免許証番号などの個人情報をお尋ねすることがあります。また，ユーザーと提携先などとの間でなされたユーザーの個人情報を含む取引記録や決済に関する情報を,当社の提携先（情報提供元，広告主，広告配信先などを含みます。以下，｢提携先｣といいます。）などから収集することがあります。</p>


      <h2>第3条（個人情報を収集・利用する目的）</h2>

      <p>当社が個人情報を収集・利用する目的は，以下のとおりです。</p>

      <ol>
        <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>

        <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>
      </ol>


      <h2>第10条（お問い合わせ窓口）</h2>

      <p>本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</p>

      <address>
        住所：〒000-0000 神奈川県○○○○○○○○○○○○<br>
        社名：○○○○○<br>
        Eメールアドレス：xxxxxx@xxxxxx.jp
      </address>

      <div class="end">以上</div>
    </div><!-- /.post__body -->

  </div><!-- /.l-md-container -->
</main>


<%- include('../components/common/_footer', { src: '../../' }) %>


</body>
</html>
