<footer class="footer">
  <div class="footer__inner l-container">

    <a class="footer__btn" href="#top">
      <img class="footer__btnImage" src="<%= src %>images/common/btn_pagetop.svg" alt="ページの先頭に戻る" width="80" height="80" loading="lazy">
    </a>

    <figure class="footer__figure">
      <img class="footer__logo" src="/src/images/common/logo_small_wh.svg" alt="-nekonokomono-　l'atelier Queue（アトリエ・クー）" width="76" height="104" loading="lazy">
    </figure>

    <nav class="footer__nav">
      <ul class="footer__navList1">
        <li class="footer__navList1Item">
          <a class="footer__navList1Link" href="/">トップページ</a>
        </li>

        <li class="footer__navList1Item">
          <a class="footer__navList1Link" href="/products/">商品一覧</a>
        </li>

        <li class="footer__navList1Item">
          <a class="footer__navList1Link" href="/blog/">ねこブログ</a>
        </li>

        <li class="footer__navList1Item">
          <a class="footer__navList1Link" href="/staff/">ねこ店員紹介</a>
        </li>

        <li class="footer__navList1Item">
          <a class="footer__navList1Link" href="/faq/">よくあるご質問</a>
        </li>

        <li class="footer__navList1Item">
          <a class="footer__navList1Link" href="/contact/">お問い合わせ</a>
        </li>
      </ul>

      <ul class="footer__navList2">
        <li class="footer__navList2Item">
          <a class="footer__navList2Link" href="/law/">特定商取引法に関する表記</a>
        </li>

        <li class="footer__navList2Item">
          <a class="footer__navList2Link" href="/privacy/">プライバシーポリシー</a>
        </li>
      </ul>
    </nav>

    <div class="footer__copyright">
      <small class="footer__copyrightText" lang="en">&copy; l’atelier Queue All Rights Reserved. 2021</small>
    </div>

  </div><!-- /.footer__inner.l-container -->
</footer>
