<header class="header">
  <div class="header__mask">

    <a class="header__link" href="/" aria-label="トップページに戻る">
      <img class="header__logo" src="/src/images/common/logo_under_header.svg" alt="-nekonokomono-　l'atelier Queue（アトリエ・クー）" width="400" height="140">
    </a>

  </div><!-- /.header__mask -->
</header>
