<%
  if (typeof pageTitle === 'undefined') {
    var pageTitle = '';
  }

  if (typeof description === 'undefined') {
    var description = '';
  }

  if (typeof data === 'undefined') {
    var data = {
      head: '',
      body: ''
    };
  }
%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    <% if (pageTitle) { %>
      <%= pageTitle %> | ハンドメイド猫グッズのお店　l'atelier Queue
    <% } else { %>
      ハンドメイド猫グッズのお店　l'atelier Queue
    <% } %>
  </title>

  <meta name="description" content="<%= description %>">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
