<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head', { pageTitle: 'ブログタイトル', description: "ハンドメイド猫グッズのお店 l'atelier Queueのブログ詳細ページです。" }) %>


<body class="blog">

<%- include('../components/common/_header.ejs') %>

<%- include('../components/common/_gnav', { src: '../../'}) %>


<ol class="breadcrumb l-container">
  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ホーム</a></li>

  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ねこブログ</a></li>

  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ブログカテゴリ</a></li>

  <li class="breadcrumb__item">ブログタイトルが入ります</li>
</ol>


<main class="main">
  <div class="l-container">

    <div class="post">

      <div class="post__header">
        <h1 class="post__heading">ブログタイトルが入ります。ブログタイトルが入ります。ブログタイトルが入ります。</h1>

        <div class="post__info">
          <time class="post__date" datetime="2021-11-01">2021-11-01</time>
          <span class="post__tag tag">タグ名</span>
        </div><!-- /.post__info -->

        <figure class="post__figure">
          <img class="post__image" src="/src/images/blog/blog4.jpg" alt="" width="800" height="500">
        </figure>

        <p class="post__lead">概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。概要テキストが入ります。</p>
      </div><!-- /.post__header -->

      <div class="post__body ">
        <h2>H2大見出し</h2>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <h2>H2大見出し24px/1.5, 上80px/下25px</h2>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <h3>H3中見出し20px/1.5, 上40px/下20px</h3>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <h4>H4小見出し18px/1.5, 上30px/下15px</h4>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <h5>H5小見出し16px/1.5, 上30px/下10px</h5>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <h6>H6小見出し16px/1.5, 上30px/下10px</h6>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>

        <ul>
          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>

          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>
        </ul>

        <ol>
          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>

          <li>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</li>
        </ol>

        <table>
          <tr>
            <th>見出し</th>
            <td>テキストテキストテキスト</td>
          </tr>

          <tr>
            <th>見出し</th>
            <td>テキストテキストテキスト</td>
          </tr>
        </table>

        <figure class="left">
          <img src="/src/images/blog/blog5.jpg" alt="" width="300" height="240">
        </figure>

        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <figure class="right">
          <img src="/src/images/blog/blog6.jpg" alt="" width="300" height="240">
        </figure>

        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>

        <figure class="center">
          <img src="/src/images/blog/blog7.jpg" alt="" width="520" height="330">
        </figure>

        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div><!-- /.post__body.l-md-container -->

      <ol class="post__pagination pagination2">
        <li class="pagination2__item">
          <a class="pagination2__prev" href="#">前の記事</a>
        </li>

        <li class="pagination2__item">
          <a class="pagination2__next" href="#">次の記事</a>
        </li>

        <li class="pagination2__item">
          <a class="pagination2__top" href="/blog/">ねこブログトップへ戻る</a>
        </li>
      </ol>

    </div><!-- /.post -->

  </div><!-- /.l-md-container -->
</main>


<%- include('../components/common/_footer', { src: '../../' }) %>




</body>
</html>
