<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head', { pageTitle: 'お問い合わせ', description: "ハンドメイド猫グッズのお店 l'atelier Queueのよくあるご質問ページです。" }) %>


<body class="contact">

<%- include('../components/common/_header') %>

<%- include('../components/common/_gnav', { src: '../../' }) %>


<ol class="breadcrumb l-container">
  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ホーム</a></li>

  <li class="breadcrumb__item">お問い合わせ</li>
</ol>


<main class="main">
  <div class="l-md-container">

    <h1 class="main__heading lv1Heading">
      <span class="lv1Heading__ja">お問い合わせ</span>
      <span class="lv1Heading__en">Contact</span>
    </h1>

    <p class="main__lead">当店へのご質問・お問い合わせ等は以下のフォームからご連絡下さい。</p>


    <form class="contactForm" action="#" method="POST">

      <div class="contactForm__item">
        <label class="contactForm__label" for="kind">
          お問い合わせ種類
          <span class="contactForm__tag tag --require">必須</span>
        </label>

        <div class="contactForm__selectWrapper">
          <select class="contactForm__select" id="kind" name="kind" required>
            <option value="" selected disabled>選択してください</option>
            <option>商品について</option>
            <option>購入方法について</option>
            <option>在庫・入荷情報について</option>
            <option>その他のお問い合わせ</option>
          </select>
        </div><!-- /.contactForm__selectWrapper -->

        <div class="contactForm__error">お問合せ種類を選択してください。</div>
      </div><!-- /.contactForm__item -->


      <div class="contactForm__item">
        <label class="contactForm__label" for="content">
          お問い合わせ内容
          <span class="contactForm__tag tag --require">必須</span>
        </label>

        <textarea class="contactForm__textarea" id="content" name="content" rows="10" placeholder="お問合せ内容をご入力下さい。" required></textarea>

        <div class="contactForm__error">お問合せ内容を入力してください。</div>
      </div><!-- /.contactForm__item -->


      <div class="contactForm__item">
        <label class="contactForm__label" for="name">
          お名前
          <span class="contactForm__tag tag --require">必須</span>
        </label>

        <input class="contactForm__input" id="name" type="text" name="name" placeholder="猫野三毛蔵" required aria-describedby="nameNote">

        <div class="contactForm__error">お名前を入力してください。</div>

        <div class="contactForm__note" id="nameNote">※ ニックネームなどでも結構です。</div>
      </div><!-- /.contactForm__item -->


      <div class="contactForm__item">
        <label class="contactForm__label" for="email">
          返信用メールアドレス
          <span class="contactForm__tag tag --require">必須</span>
        </label>

        <input class="contactForm__input" id="email" type="email" name="email" placeholder="yamada@sample.co.jp" required>

        <div class="contactForm__error">返信用メールアドレス正しい形式で記入してください。</div>
      </div><!-- /.contactForm__item -->


      <div class="contactForm__btnWrapper">
        <button class="contactForm__btn moveBtn --next">入力内容を確認する</button>
      </div><!-- /.contactForm__btnWrapper -->
    </form>

  </div><!-- /.l-md-container -->
</main>


<%- include('../components/common/_footer', { src: '../../' }) %>




</body>
</html>
