// 記事


// 変数、ミックスイン、関数
@use "../../../global/" as g;


.post {

  &__header {
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    border-bottom: dashed 1px;
    @include g.rem-fz(26);
    font-weight: bold;
    line-height: 1.5;
  }

  &__info {
    order: -1;
    display: flex;
    align-items: center;
  }

  &__tag {
    margin-left: 30px;
  }

  &__figure {
    margin-block-start: 30px;

    + * {
      margin-block-start: 30px;
    }
  }

  &__image {
    width: 100%;
  }


  &__body {
    max-width: 800px;
    margin: 80px auto 0;

    h2 {
      margin-block: 80px 25px;
      padding-block-end: 5px;
      border-bottom: solid 2px g.$x-baseColor;
      @include g.rem-fz(24);
      font-weight: bold;
      line-height: 1.5;
    }

    h3 {
      margin-block: 40px 20px;
      padding-inline-start: 20px;
      border-left: solid 4px g.$x-baseColor;
      @include g.rem-fz(20);
      font-weight: bold;
      line-height: 1.5;
    }

    h4 {
      margin-block: 30px 15px;
      color: g.$xx-baseColor;
      @include g.rem-fz(18);
      font-weight: bold;
      line-height: 1.5;
    }

    h5 {
      margin-block: 30px 10px;
      @include g.rem-fz(16);
      font-weight: bold;
      line-height: 1.5;
    }

    h6 {
      margin-block: 30px 10px;
      color: #666;
      @include g.rem-fz(16);
      font-weight: bold;
      line-height: 1.5;
    }

    p {
      @include g.rem-fz(16);
      line-height: 1.75;

      + * {
        margin-block-start: 1.75em;
      }
    }

    ul {

      li {
        position: relative;
        margin-block-start: 1.75em;
        padding-inline-start: 1em;

        &::before {
          content: "";
          position: absolute;
          top: 14px;
          left: 0;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: g.$x-baseColor;
        }
      }
    }

    // ol {
    //   counter-reset: num;

    //   + * {
    //     margin-block-start: 20px;
    //   }

    //   li {
    //     margin-block-start: 1.75em;
    //     display: flex;
    //     column-gap: 7px;

    //     &::before {
    //       content: counter(num) ".";
    //       counter-increment: num;
    //       flex-shrink: 0;
    //     }
    //   }
    // }

    ol {
      list-style-type: decimal;

      + * {
        margin-block-start: 1.75em;
      }

      li {
        margin-block-start: 1.75em;
        margin-inline-start: 1em;
      }
    }

    table {
      width: 100%;

      th,
      td {
        border: solid 1px g.$x-baseColor;
        padding: 20px;
        line-height: 1.5;
        vertical-align: middle;
      }

      th {
        background-color: g.$baseColor;
      }

      td {
        background-color: g.$whiteColor;
      }

      + * {
        margin-block-start: 1.75em;
      }
    }

    figure {
      text-align: center;

      + p {
        margin-block-start: 1.75em;
      }
    }

    .end {
      margin-block-start: 40px;
      text-align: right;
    }
  } // /.post__body


  &__pagination {
    margin-block-start: 80px;
  }



  @include g.mq {

    &__heading {
      @include g.rem-fz(36);
    }

    &__figure {
      margin-block-start: 40px;

      + * {
        margin-block-start: 40px;
      }
    }

    &__body {
      margin-top: 100px;

      h2 {
        margin-block: 100px 40px;
        @include g.rem-fz(30);
      }

      h3 {
        margin-block: 50px 30px;
        @include g.rem-fz(24);
      }

      h4 {
        margin-block: 40px 20px;
        @include g.rem-fz(20);
      }

      h5 {
        margin-block: 30px 15px;
        @include g.rem-fz(18);
      }

      figure {
        clear: both;

        img {
          width: 100%;
        }
      }

      figure.left {
        float: left;
        width: 380px;
        margin-inline-end: 20px;
        margin-block-end: 10px;
      }

      figure.right {
        float: right;
        width: 380px;
        margin-inline-start: 10px;
        margin-block-end: 10px;
      }

      figure.center {
        width: 520px;
        margin-inline: auto;
      }

      .end {
        margin-block-start: 60px;
      }
    }

    &__pagination {
      margin-block-start: 100px;
    }
  }
}
