// メニュー・カテゴリー


// 変数、ミックスイン、関数
@use "../../../global/" as g;



.categoryMenu {
  display: grid;
  grid-template-columns:
    1fr 1fr;
  gap: 1px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    background-color: g.$baseColor;
    @include g.rem-fz(14);
    line-height: 1.2;
    text-decoration-line: none;
    text-align: center;

    &[aria-current] {
      background-color: g.$x-baseColor;
      color: g.$whiteColor;
      font-weight: bold;
    }
  }


  @include g.mq('sm-min') {
    grid-template-columns:
      repeat(3, 1fr);
  }


  @include g.mq() {
    border-bottom: solid 5px g.$x-baseColor;
    grid-template-columns:
      repeat(6, 1fr);
    gap: 3px;

    &__item {
      display: flex;
    }

    &__link {
      flex-grow: 1;
      // height: 100%;
      padding: 20px 5px 15px;
      border-radius: 6px 6px 0 0;
      @include g.rem-fz(16);
      // font-size: min(16 / 1124 * 100vw, 16px);
    }
  }
}
