<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head', { pageTitle: '商品詳細', description: "ハンドメイド猫グッズのお店 l'atelier Queueの商品詳細ページです。" }) %>


<body>

<%- include('../components/common/_header') %>

<%- include('../components/common/_gnav', { src: '../../' }) %>


<ol class="breadcrumb l-container">
  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ホーム</a></li>

  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">商品一覧</a></li>

  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">その他雑貨</a></li>

  <li class="breadcrumb__item">【焼印付】爪とぎ型キーホルダー</li>
</ol>


<main class="main">
  <div class="l-container">

    <section class="cartSection">
      <div class="cartSection__cart cartBox">
        <h1 class="cartBox__heading">【焼印付】爪とぎ型キーホルダー</h1>

        <div class="cartBox__id">ZK-0012</div>

        <div class="cartBox__price">
          価格<em class="cartBox__priceNum">000</em>円<span class="cartBox__priceTax">（税込000円）</span>
        </div>

        <div class="cartBox__typeWrapper">
          <div class="cartBox__type">
            <img class="cartBox__typeImage" src="../../images/products/dmy_zk0012_a.jpg" alt="">

            <div class="cartBox__typeTitle">使用前タイプ</div>

            <form class="cartBox__form" action="#" method="POST">
              <button class="cartBox__cartBtn cartBtn" type="button">カートに入れる</button>
            </form>
          </div><!-- /.cartBox__type -->

          <div class="cartBox__type">
            <img class="cartBox__typeImage" src="../../images/products/dmy_zk0012_b.jpg" alt="">

            <div class="cartBox__typeTitle">使用後タイプ</div>

            <form class="cartBox__form" action="#" method="POST">
              <button class="cartBox__cartBtn cartBtn" type="button">カートに入れる</button>
            </form>
          </div><!-- /.cartBox__type -->
        </div><!-- /.cartBox__typeWrapper -->
      </div><!-- /.cartBox -->

      <div class="cartSection__photos">
        <figure class="cartSection__figure">
          <img class="cartSection__largeImage" src="../../images/products/dmy_pd001.jpg" alt="">
        </figure>

        <ul class="cartSection__thumbnails">
          <li class="cartSection__thumbnail">
            <img class="cartSection__thumbnailImage is-current" src="/src/images/products/dmy_pd001.jpg" alt="" tabindex="0">
          </li>

          <li class="cartSection__thumbnail">
            <img class="cartSection__thumbnailImage" src="/src/images/products/dmy_pd001-2.jpg" alt="" tabindex="0">
          </li>

          <li class="cartSection__thumbnail">
            <img class="cartSection__thumbnailImage" src="/src/images/products/dmy_pd001-3.jpg" alt="" tabindex="0">
          </li>
        </ul>
      </div><!-- /.cartSection__photos -->

      <section class="cartSection__info">
        <h2 class="cartSection__infoTitle">商品情報</h2>

        <p class="cartSection__infoText">
          あの「猫の爪とぎ」が可愛らしいミニチュアサイズのキーホルダーになりました！<br>
          <br>
          小さくても作りはしっかり。外側ケースは手触りの良いパイン材の木枠、裏面には当店ロゴの猫型焼印付きでオシャレ♪<br>
          <br>
          使用前タイプ、使用後タイプの2種類をご用意しています。<br>
          <br>
          ■サイズ：H：約100 × W：23 × D：約15（mm）<br>
          ■重量：約72g<br>
          ■素材：パイン材・ダンボール・アルミ（ボールチェーン）
        </p>
      </section><!-- /.cartSection__info -->
    </section>


    <div class="post">
      <div class="post__body">
        <figure class="post__figure">
          <img class="post__image" src="/src/images/products/dmy_zk0012_cont01.jpg" alt="">
        </figure>

        <p>裏面の焼印はひとつひとつオーナーが手押しで押印しています！ 手で押しているのでひとつひとつ焼色や場所などが微妙に違いますが、そこは「手作りの味」ということでご容赦くださいませ！</p>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。
        </p>

        <p>本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。本文テキスト16px・行間1.75フリーテキストが入ります。</p>
      </div><!-- /.post__body -->
    </div><!-- /.post -->


    <div class="cartBox --bottom --single">
      <div class="cartBox__body">
        <div class="cartBox__heading">【焼印付】爪とぎ型キーホルダー</div>

        <div class="cartBox__id">ZK-0012</div>

        <div class="cartBox__price">
          価格<em class="cartBox__priceNum">000</em>円<span class="cartBox__priceTax">（税込000円）</span>
        </div>

        <form class="cartBox__form" action="#" method="POST">
          <button class="cartBox__cartBtn cartBtn" type="button">カートに入れる</button>
        </form>
      </div><!-- /.cartBox__body -->

      <figure class="cartBox__figure">
        <img class="cartBox__image" src="/src/images/products/dmy_pd001.jpg" alt="">
      </figure>
    </div><!-- /.cartBox -->


    <div class="cartBox --bottom">
      <div class="cartBox__heading">【焼印付】爪とぎ型キーホルダー</div>

      <div class="cartBox__id">ZK-0012</div>

      <div class="cartBox__price">
        価格<em class="cartBox__priceNum">000</em>円<span class="cartBox__priceTax">（税込000円）</span>
      </div>

      <div class="cartBox__typeWrapper">
        <div class="cartBox__type">
          <img class="cartBox__typeImage" src="../../images/products/dmy_zk0012_a.jpg" alt="">

          <div class="cartBox__typeTitle">使用前タイプ</div>

          <form class="cartBox__form" action="#" method="POST">
            <button class="cartBox__cartBtn cartBtn" type="button">カートに入れる</button>
          </form>
        </div><!-- /.cartBox__type -->

        <div class="cartBox__type">
          <img class="cartBox__typeImage" src="../../images/products/dmy_zk0012_b.jpg" alt="">

          <div class="cartBox__typeTitle">使用後タイプ</div>

          <form class="cartBox__form" action="#" method="POST">
            <button class="cartBox__cartBtn cartBtn" type="button">カートに入れる</button>
          </form>
        </div><!-- /.cartBox__type -->
      </div><!-- /.cartBox__typeWrapper -->
    </div><!-- /.cartSection__cart.cartBox.--bottom -->

  </div><!-- /.l-container -->
</main>


<%- include('../components/common/_footer.ejs', { src: '../../' }) %>




</body>
</html>
