<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head', { pageTitle: '商品一覧', description: "ハンドメイド猫グッズのお店 l'atelier Queue の商品一覧ページです。" }) %>


<body class="products">

<%- include('../components/common/_header.ejs') %>


<%- include('../components/common/_gnav', { src: '../../' }) %>


<ol class="breadcrumb l-container">
  <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">ホーム</a></li>

  <li class="breadcrumb__item">商品一覧</li>
</ol>


<main class="main">
  <div class="l-container">

    <h1 class="main__heading lv1Heading">
      <span class="lv1Heading__ja">商品一覧</span>
      <span class="lv1Heading__en">Products</span>
    </h1>

    <ul class="main__categoryMenu categoryMenu">
      <li class="categoryMenu__item">
        <a class="categoryMenu__link" href="#" aria-current="page">すべて</a>
      </li>

      <li class="categoryMenu__item">
        <a class="categoryMenu__link" href="#">レンジブローチ</a>
      </li>

      <li class="categoryMenu__item">
        <a class="categoryMenu__link" href="#">猫用首輪</a>
      </li>

      <li class="categoryMenu__item">
        <a class="categoryMenu__link" href="#">けりぐるみ</a>
      </li>

      <li class="categoryMenu__item">
        <a class="categoryMenu__link" href="#">アクセサリー</a>
      </li>

      <li class="categoryMenu__item">
        <a class="categoryMenu__link" href="#">その他雑貨</a>
      </li>
    </ul>

    <div class="productList --card">
      <section class="productList__item productCard">
        <h3 class="productCard__heading">【焼印付】爪とぎ型キーホルダー</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd001.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">可愛らしいミニチュアサイズの「猫の爪とぎ」型キーホルダー。木製ケースの裏面には猫シルエットの焼印付きでオシャレ！</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>

        <div class="productCard__ribbon">新商品</div>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">肉球ブローチ（7個セット）</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd002.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">定番の肉球型のレジンブローチ（7個セット）です。</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">肉球ブローチ（7個セット）</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd003.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">アースカラーのレース＋アンティーク調の金具でシックな印象の猫首輪です。</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">【焼印付】爪とぎ型キーホルダー</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd001.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">可愛らしいミニチュアサイズの「猫の爪とぎ」型キーホルダー。木製ケースの裏面には猫シルエットの焼印付きでオシャレ！</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>

        <div class="productCard__ribbon">新商品</div>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">肉球ブローチ（7個セット）</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd002.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">定番の肉球型のレジンブローチ（7個セット）です。</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">肉球ブローチ（7個セット）</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd003.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">アースカラーのレース＋アンティーク調の金具でシックな印象の猫首輪です。</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">【焼印付】爪とぎ型キーホルダー</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd001.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">可愛らしいミニチュアサイズの「猫の爪とぎ」型キーホルダー。木製ケースの裏面には猫シルエットの焼印付きでオシャレ！</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>

        <div class="productCard__ribbon">新商品</div>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">肉球ブローチ（7個セット）</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd002.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">定番の肉球型のレジンブローチ（7個セット）です。</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>
      </section>

      <section class="productList__item productCard">
        <h3 class="productCard__heading">肉球ブローチ（7個セット）</h3>

        <figure class="productCard__figure">
          <img class="productCard__image" src="../../images/products/dmy_pd003.jpg" alt="" width="750" height="750">
        </figure>

        <p class="productCard__text">アースカラーのレース＋アンティーク調の金具でシックな印象の猫首輪です。</p>

        <div class="productCard__price">
          000円<span class="productCard__priceNote">(税抜)</span>
        </div>

        <a class="productCard__btn moreBtn" href="#">詳細を見る</a>
      </section>
    </div><!-- /.productCardList.--card -->

    <ol class="main__pagination1 pagination1">
      <li class="pagination1__item"><a class="pagination1__prev" href="#">前へ</a></li>

      <li class="pagination1__current" aria-current="page">1</li>

      <li class="pagination1__item"><a class="pagination1__link" href="#">2</a></li>

      <li class="pagination1__item"><a class="pagination1__link" href="#">3</a></li>

      <li class="pagination1__dots">…</li>

      <li class="pagination1__item"><a class="pagination1__link" href="#">７</a></li>

      <li class="pagination1__item"><a class="pagination1__next" href="#">次へ</a></li>
    </ol>

  </div><!-- /.l-container -->
</main>


<%- include('../components/common/_footer', { src: '../../' }) %>


</body>
</html>
